<div class="container-fluid container-fluid-custom">
  <center>
    <div class="row py-md-5 text-center justify-content-center">
      <h1 class="display-2 fw-bold mb-4 position-relative home-title">About</h1>
    </div>
    <p class="fs-4 mb-4">
      Notelify is a simple to use free note taking app made with Node.Js, EJS &
      MongoDB.
    </p>
  </center>
</div>
