<div class="container-fluid container-fluid-custom">
  <center>
    <div class="row py-md-5 text-center justify-content-center">
      <h1>FAQs</h1>
    </div>
    <p class="fs-4 mb-4">Coming Soon!</p>
  </center>
</div>
