<div class="container-fluid container-fluid-custom">
  <center>
    <div class="row py-md-5 text-center justify-content-center">
      <h1 class="display-2 fw-bold mb-4 position-relative home-title">
        Features
      </h1>
    </div>
    <p class="fs-4 mb-4">Coming Soon!</p>
  </center>
</div>
